<?xml version='1.0' encoding='utf-8'?>
<widget id="me.bobylito.greekflashcards" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Greek FlashCards</name>
    <description>Greek flashcards in french</description>
    <author email="bobylito@gmail.com" href="http://bobylito.me">Alexandre Stanislawski</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
